.Rproj.user
.Rhistory
.RData
.DS_Store
*.DS_Store
*._*

grants/

analysis/data/derived_data/

R/sandbox.R
analysis/figures/

analysis/data/raw_data/sally_counts.csv
analysis/results/

tws_presentation_skeleton.ppt*
tws_presentation_skeleton.doc*

